.chargement{
    background: #101214;
    position: absolute;
    z-index: 102;
    height: 100%;
    width: 100%;
}
.chargheader{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}