.btnleft{
    background: none;
    position: absolute;
    width: 50%;
    transition: 0.5s;
  }
  .btnN:hover {
    background: none;
    color: rgb(211, 121, 37);
    transition: 0.5s;
  }
  
  .btnL:hover{
    background: none;
    color: rgb(1, 136, 214);
    transition: 0.5s;
  }
  .btnO:hover{
    background: none;
    color: rgb(214, 3, 3);
    transition: 0.5s;
  }
  .btnright{
    background: none;
    position: relative;
    width: 50%;
    left: 50%;
  }
  .btntop{
    background: none;
    position: relative;
      z-index: -1;
      width: 50%;
      left: 25%;
  }
  .btnbottom{
    background: none;
    position: relative;
    z-index: -1;
    left: 25%;
    width: 50%;
  }
  .btn{
    border: none;
    background: none;
    color: #fff;
    font-size: 1em;
    padding: 1%;
    cursor: pointer;
    -webkit-text-stroke: 1px black;
    text-shadow:
        2px  2px 0 #000,
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
  }
  .choix{
    position: absolute;
    z-index: 100;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 5%;
    left: 10%;
  }