    <!-- rubrique choix gros équipe nai baf enorc bes et 20-100 -->
    <!-- 100-20 -->
    <div class="choix" *ngIf="d20100S.choix">
      <button class="btntop btnN btn" (click)="d20100S.choixneutre()">Un séparatiste ?</button>
      <button class="btnleft btnL btn" (click)="d20100S.choixL()">Bien le bonjour 20-100</button>
      <button class="btnright btnO btn" (click)="d20100S.choixO()" >Je deteste les séparatistes !</button>
      <button class="btnbottom btnN btn" (click)="d20100S.choixneutre()">Qu'est ce que ?</button>
    </div>
    <div class="choix" *ngIf="d20100S.choixb">
      <button class="btntop btnN btn" (click)="d20100S.choixinfo1()">Pourquoi 20-100 ?</button>
      <button class="btnleft btnN btn" (click)="d20100S.choixinfo2()">Votre langague ?</button>
      <button class="btnright btnN btn" (click)="d20100S.choixinfo3()" >Quels sont vos fonction ?</button>
      <button class="btnbottom btnN btn" (click)="d20100S.choixrevoir()" >On reparleras plus tard.</button>
    </div>

    <!-- Nai Baf -->
    <div class="choix" *ngIf="dnaibafS.choix">
      <button class="btntop btnN btn" (click)="dnaibafS.choixneutre()">Oui ?</button>
      <button class="btnleft btnL btn" (click)="dnaibafS.choixL()">C'est a quel sujet ?</button>
      <button class="btnright btnO btn" (click)="dnaibafS.choixO()" >Ça ne vous regarde pas</button>
      <button class="btnbottom btnN btn" (click)="dnaibafS.choixneutre()">Et ?</button>
    </div>
    <div class="choix" *ngIf="dnaibafS.choixb">
      <button class="btntop btnN btn" (click)="dnaibafS.choixneutreb()">Si vous le dites...</button>
      <button class="btnleft btnL btn" (click)="dnaibafS.choixLb()">Ne manquer pas de respect a votre lieutenant</button>
      <button class="btnright btnO btn" (click)="dnaibafS.choixOb()" >[ menacer ] faites attention a ce que vous dites Soldat !</button>
      <button class="btnbottom btnN btn" (click)="dnaibafS.choixneutreb()">On verras...</button>
    </div>

    <!-- enorc bes -->
    <div class="choix" *ngIf="denocbesS.choix">
      <button class="btntop btnN btn" (click)="denocbesS.choixneutre()">Bonjour...</button>
      <button class="btnleft btnL btn" (click)="denocbesS.choixL()">[SALUER]</button>
      <button class="btnright btnO btn" (click)="denocbesS.choixO()" >J'ai pas le temps !</button>
      <button class="btnbottom btnN btn" (click)="denocbesS.choixneutre()">Bonjour...</button>
    </div>
    <div class="choix" *ngIf="denocbesS.choixb">
      <button class="btntop btnN btn" (click)="denocbesS.choixinfo1()">Comment avez vous rejoint la rébellion?</button>
      <button class="btnleft btnN btn" (click)="denocbesS.choixinfo2()">Comment avez vous connu le Capitaine ?</button>
      <button class="btnright btnN btn" (click)="denocbesS.choixinfo3()" >Quels sont vos fonction ?</button>
      <button class="btnbottom btnN btn" (click)="denocbesS.choixrevoir()" >On reparleras plus tard le capitaine m'attend</button>
    </div>

    <!-- rubrique choix dialogue AURELIA-->
    <div class="choix" *ngIf="dAureliaS.choix">
      <button class="btntop btnN btn" (click)="dAureliaS.choix1et2()">Oui ? ...</button>
      <button class="btnleft btnL btn" (click)="dAureliaS.choixL()">Ravie de vous rencontrer.</button>
      <button class="btnright btnO btn" (click)="dAureliaS.choixO()" >J'ai pas le temps</button>
      <button class="btnbottom btnN btn" (click)="dAureliaS.choix1et2()">Vous êtes ?</button>
    </div>
    <div class="choix" *ngIf="dAureliaS.choixb">
      <button class="btntop btnN btn" (click)="dAureliaS.choixinfo1()">Pourquoi avoir rejoint la rebellion ?</button>
      <button class="btnleft btnN btn" (click)="dAureliaS.choixinfo2()">Comment avez vous connu le Capitaine ?</button>
      <button class="btnright btnN btn" (click)="dAureliaS.choixinfo3()" >Quels sont vos fonction ?</button>
      <button class="btnbottom btnN btn" (click)="dAureliaS.choixrevoir()" >Le capitaine m'attend on reparleras plus tard.</button>
    </div>

