
.back{
    background-image: url(../../assets/image/accueil.jpeg);
    position: absolute;
    background-repeat: none;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.header{
    padding: 2%;
    color: rgb(37, 199, 211);
    height: 100%;
}
.header2{
    color: rgb(37, 199, 211);
    height: 100%;
}
p{
    margin: 1%;
}
.chargheader{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.head{
    padding: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.head2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.jeux{
    background: rgba(0, 81, 87, 0.767);
    border-radius: 20px 0 20px 0;
    border: 2px solid rgb(37, 199, 211);
    padding: 2%;
    text-align: center;
    margin: 2%;
    font-size: 1.5em;
    font-weight: bold;
    transition: 0.5s;
}
.btn{
    margin: 2%;
    padding: 2%;
    font-size: 1em;
    border-radius: 20px 0 20px 0;
    color: rgb(37, 199, 211);
    background: rgba(0, 81, 87, 0.767);
    border: 2px solid rgb(37, 199, 211);
    transition: 0.5s;
}
.btn:hover{
    background: rgba(116, 68, 23, 0.582);
    border: 2px solid rgb(211, 121, 37);
    color: rgb(211, 121, 37);
    transition: 0.5s;
}
.jeux2 h2{
    margin: 3%;
}
