
  <div class="header" *ngIf="connect">
    <div class="head">
      <div class="jeux">
          <h3>Important</h3>
          <p>Si vous désirez enregistré votre partie il faut pour cela une connexion.</p>
          <p>Connectez vous via votre compte Google.</p>
          <p>Mais si vous ne désirez pas vous connectez vous pouvez toujours poursuivre via une navigation anonyme aucune connexion n'est requise (Mais pas de trophée ni de sauvegarde ! )</p>
          <button class="btn" (click)="startNC()">Jouer sans connexion</button>
          <button class="btn" (click)="returnA()">Retour au menu</button>
      </div>
    </div> 
  </div>

