
<app-chargement *ngIf="chargement"></app-chargement>
<app-header></app-header>


<div class = "back" >
  <!-- button next -->
  <img class="transleft" src="../../../assets/image/SIMPLONIS.png" alt="">
  <img class="transtop" src="../../../assets/image/Tarnas.png" alt="">
  <button (click)="dAureliaS.dialnext()" class="buttone next">Next</button>
  <button (click)="d20100S.dialnext()" class="buttone next2">Next</button>
  <button (click)="denocbesS.dialnext()" class="buttone next3">Next</button>
  <button (click)="dnaibafS.dialnext()" class="buttone next4">Next</button>

  <div class="block">
    <img class="img1 imgcenter" src="../../../assets/image/prologue/prologuesimplonisentrance.jpeg" alt="" >
    <img class="transright" src="../../../assets/image/TArnas2b.png" alt="">

    <img  class="img2 imgcenter" src="../../../assets/image/prologue/prologueimg1.jpeg" alt="">
    <img class="img3 imgcenter" src="../../../assets/image/prologue/prologueHAngar1.jpeg" alt="">
    <img class="transhangar" src="../../../assets/image/TArnas3.png" alt="">
    <img class="img4 imgcenter" src="../../../assets/image/prologue/prologueAureliaintro.jpeg" alt="">
    <!-- <audio autoplay src="../../../assets/Sound/walk.mp3" *ngIf="walk"></audio> -->
    <img class="imgcha imgcharacter" src="../../../assets/image/characters/Aurelia.png" alt="">
    <img class="imgcha2 imgcharacter" src="../../../assets/image/characters/EnorcBes.png" alt="">
    <img class="img5 imgcenter" src="../../../assets/image/prologue/prologueAureliaintrotrans2.jpeg" alt="">
    <img class="img6 imgcenter" src="../../../assets/image/prologue/prologueAureliaintrotrans1.jpeg" alt="">
    <img class="img7 imgcenter" src="../../../assets/image/prologue/prologueintrobis.jpeg" alt="">
    
<app-clickarea></app-clickarea>
<app-choice></app-choice>



</div>
