<div class="block">
    <div class = "logo">
        <img src = "../../../assets/image/Star_Wars_logo-1.png"> 
    </div>
</div>

<div class = "star-wars-intro">
  
  <p class = "intro-text">
   Il y a bien longtemps dans une galaxie lontaine, très lointaine...
  </p>
 
  <div class = "main-content" >
    <audio autoplay src="../../../assets/Sound/intro.mp3"></audio>
    <div class = "title-content" *ngIf="intro">
      <h2 class = "content-header margin">EPISODES I</h2>
      <h3 class = "content-header margin">La Chute du Simplonis </h3>
      <p class = "content-body">
        Vous êtes le commandant Kila et vous vous trouvez à bord du nouveau vaisseau de guerre de l'alliance rebelle ... Le SIMPLONIS sous le commandement du capitaine Christophhis, ce puissant navire de guerre réalise pour la première fois son vole d'essai dans le système de Stygeon Prime. Mais c'était sans compter sur la trahison d'un membre de l'équipage, qui donna les coordonnées du Simplonis à L'EMPIRE, c'est donc a vous de découvrir qui est le traitre et de l'appréhender, mais qui sait ce qui peut arriver à présent...
      </p>   
    </div>
  </div>
</div>
