<div class="chargement" *ngIf="chargement">
    <div class="chargheader">
  <img class="test" src="../../assets/image/Logo.png" alt="">  
  <h2 class="title">Pruvot Studio présente</h2>
    </div>

</div>


<div class="back">
  <div class="header">
      <ul class="head">
        <li class="jeux">
          <div>Nouvelle partie</div>
        </li>
        <li class="jeux">
          <div>Options</div>
        </li>
        <li class="jeux">
            <div>Succés</div>
          </li>
        <li class="jeux">
            <div>Informations</div>
          </li>
      </ul>    
  </div>
</div>