<div  class="clickarea" *ngIf="dAureliaS.clickarea1">
  <div (click)="servicesoldat()" class="soldatrebel"></div>
  <div (click)="pilotsit()" class="pilotsit"></div>
  <div (click)="soldat()" class="soldat"></div>
  <div (click)="denocbesS.dial()" class="enorcBes"></div>
  <div (click)="Cc.continued()" class="continued"></div>
</div>
<div  class="clickarea" *ngIf="Cc.clickarea2">
  <div (click)="servicesoldat2()" class="soldatrebel2"></div>
  <div (click)="dnaibafS.dial()" class="NaiBaf"></div>
  <div (click)="djoakimS.dial()" class="JoaKim"></div>
  <div (click)="Cc.continued2()" class="continued2"></div>
</div>