<div  class="clickarea" *ngIf="dAureliaS.clickarea1">
  <div (click)="servicesoldat()" class="soldatrebel"></div>
  <div (click)="pilotsit()" class="pilotsit"></div>
  <div (click)="soldat()" class="soldat"></div>
  <div (click)="denocbesS.dial()" class="enorcBes"></div>
  <div (click)="Cc.continued()" class="continued"></div>
</div>
<div  class="clickarea" *ngIf="Cc.clickarea2">
  <div (click)="servicesoldat2()" class="soldatrebel2"></div>
  <div (click)="dnaibafS.dial()" class="NaiBaf"></div>
  <div (click)="djoakimS.dial()" class="JoaKim"></div>
  <div (click)="Cc.continued2()" class="continued2"></div>
</div>
<div  class="clickarea" *ngIf="Cc.clickarea3">
  <div (click)="officier1()" class="officier1"></div>
  <div (click)="officier2()" class="officier2"></div>
  <div (click)="d20100S.dial()" class="a20-100"></div>
  <div (click)="soldat3()" class="soldat3"></div>
  <div (click)="dchristophhisS.dial()" class="Christophiss"></div>
</div>
<div  class="clickarea" *ngIf="Sc.clickarea">
  <div (click)="djoakimS.dialattack()" class="JoaKim2"></div>
  <div (click)="Sc.continued()" class="hangar"></div>
</div>
<div  class="clickarea" *ngIf="Sc.clickarea2">
  <div (click)="dAureliaS.casque()" class="casque"></div>
</div>